.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.landing h1 {
  margin-bottom: 140px;
  font-size: 640%;
  font-family: 'Comic Sans MS';
  color: antiquewhite;
  text-shadow: 2px 4px 10px rgb(226, 209, 209);
}

.landing h1 span {
  display: inline-block;
  opacity: 0;
  animation: fadeInUp 0.8s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.landing h1 span:nth-child(1) {
  animation-delay: 0s; 
}

.landing h1 span:nth-child(2) {
  animation-delay: 0.3s;
}

.landing h1 span:nth-child(3) {
  animation-delay: 0.6s; 
}

.landing h1 span:nth-child(4) {
  animation-delay: 0.9s;
}
.landing h1 span:nth-child(5) {
  animation-delay: 1.2s; 
}

.landing h1 span:nth-child(6) {
  animation-delay: 1.5s; 
}

.landing h1 span:nth-child(7) {
  animation-delay: 1.8s; 
}

.landing h1 span:nth-child(8) {
  animation-delay: 2.1s;
}

.landing h1 span:nth-child(9) {
  animation-delay: 2.4s;
}

.landing h1 span:nth-child(10) {
  animation-delay: 2.7s;
}

  .landing a {
    font-size: 150%;
    color: #d660b8; 
    background-color: #d5d9df; 
    padding: 30px 50px; 
    border-radius: 12px; 
    box-shadow: 2px 4px 10px rgb(226, 209, 209);
  }

  .landing a:hover{
    transform: scale(1.1);
}
